<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.augustana.individualproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Escape from Tarkov Quest and Item Guide"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="edu.augustana.individualproject.HideoutUpgradeViewer"
            android:parentActivityName=".HideoutUpgradeFinder"/>
        <activity
            android:name="edu.augustana.individualproject.HideoutUpgradeFinder"
            android:parentActivityName="edu.augustana.individualproject.MainActivity" />
        <activity
            android:name="edu.augustana.individualproject.QuestFinder"
            android:parentActivityName="edu.augustana.individualproject.MainActivity" />
        <activity
            android:name="edu.augustana.individualproject.QuestViewer"
            android:parentActivityName="edu.augustana.individualproject.QuestFinder" />
        <activity
            android:name="edu.augustana.individualproject.ModifyDB"
            android:parentActivityName="edu.augustana.individualproject.MainActivity" />
        <activity
            android:name="edu.augustana.individualproject.About"
            android:parentActivityName="edu.augustana.individualproject.MainActivity" />
        <activity android:name="edu.augustana.individualproject.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>